PORT=<the port the server should listen on>
SECRET=<secret key to sign JWTs>
MONGO_URI=<URI to connect to MongoDB>
MONGO_DB_NAME=<name of the database>
MAILGUN_PRIVATE_KEY=<Mailgun private key>
MAILGUN_DOMAIN=<domain available in Mailgun>
CLIENT_URL=<URL of the LOGGY client>
MONTHLY_REQUEST_LIMIT=<maximum amount of requests that are tracked per month>
IS_SELFHOSTED=<determines if the instance is self-hosted>